* {
    font-family: 'Segoe UI', Tahoma, serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 250vh;
}

/* this is temporary  */
.image {
    background-color: #999;
}
/* this is temporary  */


body>div {
    padding-left: 15vw;
    padding-right: 15vw;
}


.intro,
.footer {
    background-color: #5d5b1b;
}
.intro {
    flex: 5;
    flex-basis: 650px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
}

.logo  {
    color: #b3d12f;
    font-size: 24px;
    font-weight: bolder;
}

.header>ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 200
}


.cover {
    flex: 1 1 auto;
    display: flex;
    margin: 120px 0;
    gap: 48px;
} 

.cover>div {
    flex: 1;
}

.description {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: flex-start;
    gap: 20px;
}

.description>h2 {
    margin: 0;
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;

}
.description>p {
    flex: 1;
    margin: 0;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 200
}

button {
    height: 40px;
    width: 150px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    border-radius: 20px;
    cursor: pointer;
}

.description>button {
    background-color: #b3d12f;
    color: black;
    border: 1px solid #b3d12f;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.info {
    background-color: white;
    flex-basis: 800px;
    flex: 6 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 120px;
}

.info h3 {
    font-size: 36px;
    margin: 0 0 18px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-top: 18px;
}


.card_img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.card p {
    margin: 18px 0;
    font-size: 18px;
}


.testimonial {
    background-color: rgba(156, 46, 27, 0.945);
    background-image: url(../img/st.jpeg);
   
    flex: 5;
    flex-basis: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 420px;
}

.quote  {
    
    color: #E5E7EB;
    font: 32px light italic;
}

.name  {
    color: #E5E7EB;
    font: 32px medium;
    align-self: flex-end;
    text-align: right;
    
}

.sign_up {
    background-color: white;
    flex: 1;
    flex-basis: 540px;
    display: flex;
    align-items: center;
}

.background {
    height: 150px;
    flex: 1;
    background-color: #b3d12f;
    padding: 80px 160px;
    gap: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action {
    color: #131211;
    font-size: 24px;
} 

p.slogan {
    font-weight: bold;
}

.text {
    font-weight: 100;
}

.action_btn {
    flex: 0 0 auto;
    background-color: white;
    color: black;
    border: 1px solid white;
}

.footer {
    flex-basis: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: 18px;
    color: white;
}